body{
    padding-top: 50px;
}
.show{
    display: block !important;
}
h1{
    text-align: center;
    margin-bottom: 5%;
}
.col-sm-6{
    padding: 0 50px 25px;
}
.glyphicon{
    cursor: pointer;
}
.input-task-wrap{
    margin-top: 10px;
}
#input-task,
#filter{
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}
#input-task:focus,
#filter:focus{
    box-shadow: none;
    border-bottom: 2px solid #000;
    outline: none;
}
#filter{
    display: none;
}
.unstyled-list{
    padding: 0;
    margin: 10px 0 20px 0;
    list-style: none;
}
.unstyled-list li{
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}
.unstyled-list#doneTask li{
    border: none;
}
.unstyled-list#doneTask li:before {
    content: '✓';
    padding-right: 10px;
}
#doneTaskBtn,
#clearAllTaskBtn{
    display: none;
}
#archive{
    display: none;
}
.archive-wrap,
.list-wrap{
    padding: 0 25px 25px;
    border: 1px solid #333;
}
#archive h2,
#taskList h2{
    padding: 10px;
    background: #333;
    margin: 0;
    color: #fff !important;
    text-align: center;
}
.message-response{
    display: block;
    margin-top: 10px;
    color: #ccc;
}
.btn{
    background: #333;
    color: #fff;
}
@media(max-width: 767px){
    body{
        padding-top: 25px;
    }
    .col-sm-6{
        padding: 0 15px;
    }
    #archive{
        margin-top: 20px;
    }
    #doneTaskBtn,
    #clearAllTaskBtn{
        width: 100%;
    }
}